<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation=" 
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

	<!-- Users data loader configuration -->
	
    <bean id="usersImportProcessor" class="lv.lu.events.impl.users.UsersDataImportProcessor">
        <property name="dataProvider" ref="localDataProvider"/>
        <property name="xmlParser" ref="digesterXmlParser"/>
        <property name="commonDAO" ref="commonDAO"/>
        <property name="cleanDB" value="false"/>
    </bean>
	
	<!-- Data provider, which loads data from local files -->
    <bean id="localDataProvider" class="lv.lu.events.impl.LocalXmlDataProvider">
        <property name="usersFilePath" value="src\main\resources\data\users.xml"/>
        <property name="contentFilePath" value="src\main\resources\data\content.xml"/>
    </bean>
	
	<!-- XML parsers -->
    <bean id="domXmlParser" class="lv.lu.events.impl.xml.DomXmlParser">
        <property name="validateXml" value="true"/>
    </bean>
	
    <bean id="digesterXmlParser" class="lv.lu.events.impl.xml.DigesterXmlParser" />

	<!-- TODO [task] add Facebook data loader configuration -->
    <bean id="facebookImportProcessor" class="lv.lu.events.impl.facebook.FacebookDataImportProcessor">
        <property name="friendshipService" ref="friendshipService"/>
        <property name="inviteService" ref="inviteService"/>
        <property name="eventService" ref="eventService"/>
        <property name="jsonService" ref="jsonService"/>
        <property name="userService" ref="userService"/>
        <property name="importFriendships" value="true"/>
        <property name="importEvents" value="true"/>
        <property name="importInvites" value="true"/>
        <property name="accessToken" value="AAACEdEose0cBAPg8lLGpELYhtQ9LZButXwUZB5fNrtZA58LShKgbE9nSVSmeVZBfy0HVNmtJGGmpmSQRqm7ExdCZBMTZBunubZA4HvD5ZA6DZBgZDZD"/>
    </bean>
		
    <bean id="friendshipService" class="lv.lu.events.impl.service.FriendshipServiceImpl">
        <property name="commonDAO" ref="commonDAO"/>
    </bean>
	
    <bean id="inviteService" class="lv.lu.events.impl.service.InviteServiceImpl">
        <property name="commonDAO" ref="commonDAO"/>
    </bean>
	
    <bean id="eventService" class="lv.lu.events.impl.service.EventServiceImpl">
        <property name="commonDAO" ref="commonDAO"/>
        <property name="inviteService" ref="inviteService"/>
    </bean>
	
    <bean id="userService" class="lv.lu.events.impl.service.UserServiceImpl">
        <property name="commonDAO" ref="commonDAO"/>
        <property name="jsonService" ref="jsonService"/>
    </bean>

    <bean id="jsonService" class="lv.lu.events.impl.service.JSONServiceImpl" />

	<!-- Bean for common DAO operations -->
	
    <bean id="commonDAO" class="lv.lu.events.impl.CommonDAOImpl"/>

 <!-- Persistence configuration -->	     
	               
    <!-- Database connection properties are specified in \lab01-events\src\main\resources\META-INF\persistence.xml file -->
    <bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="hibernate_mysql"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
    </bean>
	
    <bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
	
    <tx:annotation-driven transaction-manager="transactionManager"/>
	
</beans>